<div class="panel panel-default">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title text-center">Please Register</h3>
                    </div> -->
                    <div class="panel-body">

<h1>User Registration</h1>

<%= render 'form' %>

<%= link_to 'BACK', root_url %>
</div>
</div>
<style>
.panel {
    background: rgba(255,255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
   width: 600px;
   margin-top: 2%;

}
</style>